
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 700px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
}

    .footer-section h3 {
        color: #ff5733;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

    .footer-section li {
        margin-bottom: 8px;
    }

.footer-social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    .footer-social-icons a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #ff5733;
        color: #fff;
        border-radius: 50%;
        margin-right: 10px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .footer-social-icons a:hover {
            background-color: #222;
        }
