html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*header*/
.container-menu-desktop
{
    
}
.top-bar {

}
.left-top-bar
{
    
}

.title-header {
    color: aqua;
}
/*slider*/
slider
{
    font-size:20%;
    width:100px;
    height:100px;
}
.nav-li {
    width: 61%;
    margin-left: 27rem;
}
#carouselExampleDark
{
    width:100px;
    margin-left:45rem;
}