@model FPT_BOOKMVC.Models.Book;	
@{

}

<section class="sec-product-detail bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-7 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="slick3 gallery-lb">
							<div class="item-slick3">
								<div class="wrap-pic-w pos-relative">
									<img src="~/Images/@Model.Image" alt="IMG-PRODUCT">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg">
					<h4 class="mtext-105 cl2 text-center js-name-detail p-b-14">
						@Model.Name
					</h4>

					<span class="mtext-106 d-flex justify-content-center align-items-center input-group-text cl2">
						$@Model.Price
					</span>

					<p class="stext-102 cl3 text-center p-t-23">
						@Model.Description
					</p>

					<!--  -->
					<div class="p-t-33">
						<div class="flex-w flex-r-m p-b-10">
							<div class="size-204 flex-w flex-m respon6-next">
								<a class="flex-c-m stext-101 cl0 size-101 text-light bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" asp-area="Authenticated" asp-controller="Cart"  asp-action="AddToCart"  asp-route-id="@Model.BookId">Add to cart</a> @{/* goi autheticated */}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>