@model FPT_BOOKMVC.ModelsCRUD.Book.AddBookViewModel

@{
    Layout = "_Layout2";
}
<h1>Create Book</h1>
<form method="post" action="CreateBook" enctype="multipart/form-data">
    <div class="mb-3">

        <label for="BookName" class="form-label">Book Name:</label>
        <input type="text" class="form-control" id="BookName" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="BookQuantity" class="form-label">Book Quantity:</label>
        <input type="text" class="form-control" id="BookQuantity" asp-for="Quantity">
    </div>
    <div class="mb-3">
        <label for="BookPrice" class="form-label">Book Price:</label>
        <input type="text" class="form-control" id="BookPrice" asp-for="Price">
    </div>
    <div class="mb-3">
        <label for="BookDes" class="form-label">Book Description:</label>
        <input type="text" class="form-control" id="BookDes" asp-for="Description">
    </div>
    <div class="mb-3">
        <label for="BookUpdateDate" class="form-label">Book Updated Date:</label>
        <input type="date" class="form-control" id="BookUpdateDate" asp-for="UpdateDate">
    </div>
    <div class="mb-3">
        <label for="BookAuthor" class="form-label">Book Author:</label>
        <input type="text" class="form-control" id="BookName" asp-for="Author">
    </div>
    <div class="mb-3">
        <label for="BookImg" class="form-label">Book Image:</label>
        <input type="file" asp-for="FronImage" class="form-control" id="FlFrontImage" onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])">
        <img id="FrontImagePrv" src="" alt="Logo Image" width="150" height="150" style="border:1px; margin-top:20px; margin-left:120px"/>
    </div>
    <div class="mb-3">
        <label for="BookCategoryId" class="form-label">Category Name :</label>
        @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Category_id, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label for="BookPublishId" class="form-label">Publish Company Name:</label>
        @Html.DropDownListFor(model => model.PublishCompanyId, (SelectList)ViewBag.Company_id, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
